:root {
  --font-body: "Roboto Slab", serif;
  --font-title: "Playfair Display", serif;
  --primaryColor: #081753;
}

/*General styles*/
h1 {
  color: var(--primaryColor);
  font-family: var(--font-title);
  font-size: 2.5rem;
}

.app-description {
  font-family: var(--font-body);
  margin: 1rem;
  justify-content: center;
}

.description {
  max-width: 90vh; 
  display: flex;
  flex-direction: column;
  margin: auto;
}

.description h3 {
  text-align: center;

}
/*End of general styles*/

/*header style*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.app-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo_img {
  height: 60px;
  width: auto;
  padding: 1rem;
}

.options-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.darkmode {
  width: auto;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.darkmode:hover {
  animation: rotateSelf 0.3s ease-in-out forwards;
}

.darkmode:not(:hover) {
  animation: resetRotation 0.3s ease-out forwards;
}

#toggleDarkMode {
  background-color: transparent;
  border: none;
  border-radius: 100%;
}
/*end header style*/

#banner img {
  display: flex;
  margin: auto;
  width: 100%;
  height: auto;
}

body {
  margin: 0px;
}

/* Modal Styles */
.modal-weather {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: var(--font-body);
  animation: fadeIn 0.8s ease-in forwards;
  overflow-y:scroll;
  
}

.modal-weather.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 900px;
  min-height: 200px;
 
}

.closeModal {
  position: absolute;
  top: 1px;
  right: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-size: larger;
}

.closeModal:hover {
  color: red;
  transform: scale(1.5);
}

.modal-content label,
.modal-content input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

#getWeather {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#getWeather:hover {
  background-color: #1a252f;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: solid black 1px;
}

.weather-info p {
  margin: auto;
}

.weather-info h4 {
  margin-left: 10px;
}

.weather-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid black 1px;
  justify-content: space-around;
}

.unit-btn {
  background-color: #ddd;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.unit-btn:hover {
  transform: scale(1.25);
  font-weight: bolder;
}

.unit-btn.active {
  background-color: var(--primaryColor);
  color: white;
  font-weight: bold;
}

.search-history-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.search-history-p p {
  border: solid black 1px;
  padding: 0.5rem;
  border-radius: 1rem;
}

.search-history-p p:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.sm-screen {
  display: none;
}
/*End Modal styles*/

/*Search bar style*/
#citySearch {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: large;
  border-radius: 10px;
  max-width: 98%;
}

#citySearch {
  padding-left: 0.5rem;
}

#suggestions li {
  list-style: none;
  padding: 0.25rem;
  font-weight: bolder;
  font-size: larger;
  font-family: var(--font-title);
  color: var(--primaryColor);
}
/*End Search bar style*/

#selectOne {
  font-family: var(--font-title);
  text-align: center;
  font-size: large;
}

#footer {
  background-color: #2c3e50;
  color: white;
  padding: 1rem;
}

#footer p {
  margin-left: 1rem;
  font-size: 1.2rem;
  margin-bottom: 1px;
  margin-top: 1px;
  font-weight: 600;
  font-family: var(--font-body);
}

#footer a {
  font-family: var(--font-body);
  color: white;
  margin-left: 1rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  margin-bottom: 15px;
}

.checkweather:hover {
  transform: scale(1.1);
}

#current {
  display: flex;
  flex-direction: row;
}

.checkweather {
  text-align: center;
  font-size: large;
  font-family: var(--font-body);
  border-radius: 50px;
  padding: 0.5rem;
  color: white;
  background-color: #2c3e50;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 5px black;
  
}

/*Dark mode style*/
.dark-mode,
.dark-mode .modal-content,
.dark-mode h1,
.dark-mode #citySearch,
.dark-mode #suggestions li {
  color: white;
  background-color: black;
}

.dark-mode .weather-info-header,
.dark-mode .weather-info {
  border: solid white 1px;
}

.dark-mode .search-history-p p {
  border: solid white 1px;
}

.dark-mode .search-history-p p:hover {
  background-color: white;
  color: black;
}

.dark-mode .unit-btn {
  background-color: #222121;
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.dark-mode .unit-btn.active {
  background-color: #ddd;
  color: var(--primaryColor);
  font-weight: bold;
}

.dark-mode .checkweather {
  box-shadow: 5px 5px 5px rgb(36, 35, 35);
}
/*End Dark mode style*/

/*Animation*/
@keyframes rotateSelf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes resetRotation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*End of animation*/

/*Responsive*/
@media only screen and (max-width: 700px) {
  .unit-selection-header {
    display: none;
  }

  .title {
    font-size: x-large;
  }

  #buttons {
    flex-direction: column;
    gap: 20px;
  }
  
  .checkweather {
    padding: 1rem;
  }

  .search-history-p {
    flex-direction: column;
    gap: 0px;
  }

  .search-history-p p{
    margin: 10px;
  }
  
  .modal-content {
    width: 85%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 15px;
  }

  .modal-weather {
    align-items: flex-start; 
    padding-top: 5vh;
  }

  .closeModal {
    top: 10px; 
    right: 10px;
    font-size: 20px;
  }

  .app-description {
    flex-direction: column;
  }

  .weather-info {
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
  }

  .weather-info-header {
    display: none; 
  }

  .sm-screen {
    display: inline; 
    font-size: large;
  }

  .weather-info p, 
  .weather-info h4 {
    margin: 2px;
  }
}
/*End of responsive*/