.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    justify-content: center;
    height: 80px;
}

.logo img {
    height: 60px;
    width: auto;
    padding: 1rem;
}

h1 {
    color: #081753;
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
}

#banner img{
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
}

body {
    margin: 0px;
}

#selectOne {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: large;
}

#footer {
    background-color: #2C3E50;
    color: white;
    padding: 1rem;
}

#footer p {
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1px;
    margin-top: 1px;
    font-weight: 600;
    font-family: "Roboto Slab", serif;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: 1rem;
    margin-bottom: 15px;
}

#current {
    display: flex;
    flex-direction: row;
}

.checkweather {
    text-align: center;
    font-size: large;
    font-family: "Roboto Slab", serif;
    border-radius: 50px;
    padding: .5rem;
    color: white;
    background-color: #2C3E50;
}
